/*CSS RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILS*/
body{
    font-family: 'Open Sans', sans-serif;
}

.border{
    border: 3px dashed black;
}

.container-big{
    width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.bg-lightblue{
    background-color: #B4D0E7;
}

.col-{
    height: 100px;
}

.wrap{
    flex-wrap: wrap;
}

/*HEADER*/

.navbar-container{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header{
    background-color: rgb(25, 25, 192);
}

.navbar-col-left{
    width: 30%;
    height: 100%;
    background-color: blueviolet;
}

.navbar-col-right{
    height: 100%;
    width: 30%;
    background-color: brown;
}

/*MAIN*/
/*PRIMA ZEZIONE*/
.bg-lightblue{
    background-color: #B4D0E7;
}
.row{
    width: 100%;
    height: 200px;
}

.flex{
    height: 100px;
    display: flex;
}

.card-w60{
    width: 60%;
    height: 100%;
    background-color: crimson;
}

.card-w40{
    width: 40%;
    height: 100%;
    background-color: darkcyan;
}

.wrap{
    flex-wrap: wrap;
}
/*SECONDA SEZIONE*/
.billing{
    display: inline-block;
}

.check-box{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

.row.packages{
    width: 100%;
}

.col-packages{
    width: calc(100% / 3);
    height: 300px;
}

.col-packages-big{
    width: 100%;
    height: 50px;
}

.single{
    background-color: aqua;
}

.team{
    background-color: fuchsia;
}

.agency{
    background-color: royalblue;
}

.full-row{
    width: 100%;    
}

.big-col-packages{
    background-color: chartreuse;
    height: 50px;
}



