/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILS*/

.border{
    border: 3px dashed white;
}

.mb-30{
    margin-bottom: 30px;
    order: 0;
}

.mb-15{
    margin-bottom: 15px;
    order: -1;
}

.margin-t150{
    margin-top: 150px;
}

.margin-l6{
    margin-left: 6px;
}

.padding-100{
    padding: 100px 0px;
}

.pb-30{
    padding-bottom: 30px;
}

.margin-t100{
padding-top: 100px;
}

.border-gray{
    border: 1px solid rgb(207, 203, 203);
}

.c-black{
    color: black;
}

.bg-black{
    background-color: black;
}

.bg-lightblue{
    background-color: #B4D0E7;
}

.bg-blue{
    background-color: #0093CE;
}

.bg-green{
    background-color: #A2D39B;
}

.bg-brown{
    background-color: #61082b;
}

.bg-red{
    background-color: #FF1C1D;
}

.bg-lightgray{
    background-color: #F5F5F5;
}

.bg-dark-red{
    background-color: #D6001F;
}

.bg-dark-red{
    background-color: #D6001F;
}

.bg-dark-red{
    background-color: #D6001F;
}

.bg-dark-red{
    background-color: #D6001F;
}

.bg-dark-blue{
    background-color: #0E2481;
}

.bg-yellow{
    background-color: #ffd830;
}

.bg-white{
    background-color: white;
}

.bg-btn-blue{
    background-color: #0160FF;
}

.c-bordeaux{
    color: #61092B;
}

/*GENERICS*/

body{
    font-family: 'Open Sans', sans-serif;
}

.container-big{
    max-width: 1400px;
    margin: 0 auto;
}

.flex{
    display: flex;
} 

.relative{
    position: relative;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.wrap{
    flex-wrap: wrap;
}

.row{
    width: 100%;
    flex-direction: row;
}

h2{
    font-size: 3rem;
    font-weight: 600;
}
/* HEADER*/
.main-header{
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0px 20px;
}

.main-header ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

img{
    max-width: 100%;
    display: block;
}

li > *{
    text-decoration: none;
    color: gray;
}

.button{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 15px;
}

.btn-primary{
    color: black;
    border: 1px solid black;
}

.button-small{
    padding: 5px 10px;
    border: none;
}

/*JUMBOTRON*/
.bg-lightblue{
    background-color: #B4D0E7;
}

h1{
    font-size: 5rem;
    font-weight: bolder;
    padding-top: 50px;
}

.row-proposal{
    position: relative;
    top:75px;
    width: 100%;
}

.fa-arrow-down{
    padding: 60px 0px 5px 0px;
}

.col-70{
    flex-basis: 70%;
}

.col-30{
    flex-basis: 30%;
}

/*SECONDA SEZIONE*/
.billing{
    display: inline-block;
    vertical-align: middle;
}

.check-box{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 3px;
    vertical-align: middle;
}

.check-box.colored{
    border: 3px solid #0160FF;
}

.billing{
    margin-right: 30px;
}

.row.packages{
    width: 100%;
    margin: 0 -30px;
}

.col-packages{
    flex-basis: calc(100% / 3);
    padding: 30px;
    height: auto;
}

.col-packages .card{
    min-height: 777px;
}

.card-title{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgb(207, 203, 203);
}

.card-text{
    padding: 30px 20px 0px 20px;
}

.card-text h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.card-text.hr{
    width: 25%;
}

.p-gray{
    color: gray;
    margin: 5px 0px 40px 0px;
}

.card-text > *{
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.card-text hr{
    width: 25%;
    color: #D9D9D9;
}

i{
    margin-right: 5px;
}
/*COLONNA 100%*/

.col-packages-full{
    flex-basis: 100%;
    padding: 0px 30px;
    height: auto;
}

.button.our-team{
    position: absolute;
    top: 30px;
    right: 20px;
}
/*TERZA SEZIONE*/

.row.partner{
    margin: 50px -30px 100px -30px;
}

.col-70.partner,
.col-30.partner{
    padding: 30px;
}

.card-partner{
   padding: 50px 50px 0px 0px;
}

/*QUARTA SEZIONE*/
.row.business{
    margin: 50px 0px;
    height: auto;
    display: flex;
}

.col-business{
    width: calc(100% / 3);
    height: auto;
}

/*QUINTA SEZIONE*/

.link-client{
    margin: 50px 0px 100px 0px;
}

.row-border{
    height: 600px;
}

.row-partners{
    height: 600px; /*cancellare*/
}

.col-partners{
    width: calc(100% / 3);
}

.col-50-partners{
    width: calc(100% / 2);
    height: 50%;
}

.col-50-partners > *{
    color: white;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.designit{
    width: 300px;
}

.card-designit{
    padding: 50px;
}
/*SESTA SEZIONE*/

.button.bg-white{
    color: black;
}

.free-trial-row{
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: baseline;
    align-items: center;
    padding: 0px 30px;
}

/*SETTIMA SEZIONE*/
.frequent-questions > * {
    line-height: 6rem;
}

/*FOOTER*/
footer{
    border-bottom: 1px solid white;
    color: white;
}

.row-footer{
    height: 600px;
    display: flex;
    padding: 100px 0px;
}

.col-footer{
    width: calc(100% / 5);
    line-height: 2rem;
}

.chose-language{
    line-height: 7rem;
    color: white;
}

.fa-caret-up{
    margin-left: 5px;
}

.col-language{
    display: inline-block;
    border-top: 1px solid white;
}

ul{
    list-style: none;
}

.col-footer li > *{
    color: white;
}



