/*CSS RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILS*/
.border{
    border: 3px dashed black;
}

.container-big{
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed black;
}

.bg-lightblue{
    background-color: #B4D0E7;
}

/*HEADER*/

.navbar-container{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header{
    background-color: rgb(25, 25, 192);
}

.navbar-col-left{
    width: 30%;
    height: 100%;
    background-color: blueviolet;
}

.navbar-col-right{
    height: 100%;
    width: 30%;
    background-color: brown;
}

/*MAIN*/
/*PRIMA ZEZIONE*/
.bg-lightblue{
    background-color: #B4D0E7;
}
.row{
    width: 100%;
    height: 100%;
}

.card{
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.col-w60{
    width: 60%;
    height: 100%;
    background-color: crimson;
}

.col-w40{
    width: 40%;
    height: 100%;
    background-color: darkcyan;
}